<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  
  <div  class="image"> 
  
    <h6 class="tituloRecu">Ingrese Correo elecontronico</h6>
    
    <ion-input class="labelBorder" type="text"></ion-input>

    <ion-button (click)="goToHome()" class="container6">Recuperar Contraseña</ion-button>
  </div>
  
  
  
</ion-content>
