<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Video tutoriales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-label>
      <h2 class="textVid">
        Como sacaler la xuxa a los manos qlos</h2>
    </ion-label>
    <iframe [src]="videoTutorial(videoUrl)" width="100%" height="30%"></iframe>


    <div id="container">
      <button ion-button (click)="goToHome()" class="btn">Go to Home</button>
    </div>
  
</ion-content>
