<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Dietas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div class="bienvenidos">
  <h1>
    <b>
      <i>
        Dietas personalizadas
      </i>
    </b>
  </h1>
</div>
<div class="bienvenidos">
  <h4>
    <i>
      ¿Cual es tu objetivo?
    </i>  
  </h4>
</div>

<div>
  <ion-grid class="container2">
    <ion-row class="btn">
      <ion-col>
        <ion-button>Deficit calorico</ion-button>
      </ion-col>      
    </ion-row>
    <ion-row class="btn">
      <ion-col>
        <ion-button>Hiper calorico</ion-button>
      </ion-col> 
    </ion-row>
    <ion-row class="btn">
      <ion-col>
        <ion-button>Celiacos</ion-button>
      </ion-col> 
    </ion-row>
  </ion-grid>
</div>




  
  

</ion-content>
