<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div id="container">
    <button ion-button [routerLink]="['/reservas']"class="btn">Go to Reservas</button>
  </div>
  <div id="container2">
    <button ion-button [routerLink]="['/login']"class="btn">Go to login</button>
  </div>
  <div id="container3">
    <button ion-button [routerLink]="['/dietas']"class="btn">Go to Dietas</button>
  </div>
  <div id="container4">
    <button ion-button [routerLink]="['/pago']"class="btn">Go to Pagos</button>
  </div>
  <div id="container5">
    <button ion-button [routerLink]="['/tutoriales']"class="btn">Go to tutoriales</button>
  </div>
  <div id="container6">
    <button ion-button [routerLink]="['/asociados']"class="btn">Go to asociados</button>
  </div>
    

</ion-content>