ion-toollbar{
    background-color: var(--ion-color-mycolor);
}

.btn{
    text-align: center;
    background-color: var(--ion-color-Mycolor-shade );
    color: white;
    padding: 20px 30px 20px 30px;
    border-radius: 10px;
    font-size: 20px;    
}