<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Lista de asociados </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

<div id="map"></div>



  <div >  
    <ion-list *ngIf="permission">
      <ion-item id="Lista" *ngFor="let user of users">
      <ion-avatar slot="start">
        <img src="../../assets/fotos/{{user.image}}">
      </ion-avatar>
      <ion-label>
        <h2 >{{user.name}}</h2>
        <h3>{{user.state}}</h3>
        <p>{{user.description}}</p>
      </ion-label>
    </ion-item>
    </ion-list>
  </div>
  <ion-label *ngIf="!permission">No tienes permisos para ver asociados</ion-label>

   <div id="boton">
      <button ion-button (click)="goToHome()" class="btn">Go to Home</button>
    </div>
    <div class="image2">
      <img id="img" src="../../assets/fotos/logo2.png" alt="" width="200">

    </div>
    
    
</ion-content>
